
.form{
    background-image: 
    linear-gradient(110deg , white 0% , white 50% , transparent 50%),
    url('../../images/form.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 70%;
    height: 30rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgb(0, 0, 0 ,0.3);
    padding: 10px 30px;
}

.custom-form{

    width: 50%;
}

.form-control{

    margin-bottom: 20px;
    position: relative;
}

.form-control label ,
.form-control input{

    display: block;
}

.form-control label{
    
    position: absolute;
    top: -20px;
    left: 0px;
    font-size: 13px;
    font-weight:  bold;
    color: grey;
    transition: 0.3s;
    
}

.form-control input{

    padding: 20px 20px;
    outline: none;
    border-radius: 3px;
    border: 0;
    background-color: white;
    width: 80%;
    border-bottom: 3px solid transparent;
    font-family: "Lato", sans-serif;
    box-shadow: 0 0 10px gray inset;
}

.form-control input:focus:valid{

    border-bottom: 3px solid green;

}

.form-control input:focus:not(valid){

    border-bottom: 3px solid orange;

}

.form-control input:placeholder-shown + label{

    opacity: 0;
    visibility: hidden;
    top: 20px;

}

.form h1{
    font-size: 30px;
    margin-bottom: 20px;
}

