
.google-btn{
    
    width: 184px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    user-select: none;
    margin-top: 30px;
}

.google-btn .google-icon-wrapper{
    
    position: absolute;
    width: 40px;
    height:40px;
    background-color: #fff;
    border-radius: 2px;
    margin-top: 1px;
    margin-left: 1px;
}

.google-btn .google-icon{
    
    position: absolute;
    width: 30px;
    height:30px;
    margin-top: 5px;
    margin-left: 5px;
    
}

.google-btn .btn-text{
    
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
}

.google-btn:hover{

    box-shadow: 0 0 6px #4285f4;
}

.google-btn:active{

    background: #1669f2;
}

